@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,700");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/follow-us.css");

/* General style rules for fonts and colors */

body {
	font-family: 'Lora', serif;
	font-size: 14px;
	margin: 0px;
	color: #084465;
	background: black;
	background-color: #001d2f;
	text-align: center;
}

.nav {
	background: #bad1cd;
	display: flex;
}

h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 20px;
}

h1 {
	text-align: right;
	color: black;
}

h2 {
	color: #BAD1CD;

}



.nav span {
	text-decoration: none;
	padding: 4px;
	display: inline-block;
	margin: 0 92px;
	color: slategrey;
	font-weight: bold;
	flex-basis: 33.33%;
}



