.banner {
	background-image: url(../../images/background.png);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;

}

.banner h1 {
	color: white;
	font-size: 20px;
	text-align: center;

}

.banner h2 {
	color: white;
	font-size: 15px;
	font-weight: lighter;
	opacity: 0.8;
	font-weight: bold;
	text-align: center;

}


}